<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="../static/css/header.css">
    <link rel="stylesheet"href="../static/css/galeria.css">

    <title>Galeria</title>
</head>
<body>
    <!--Espacio para el encabezado-->
    <header>
        <header>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="listas.html">Listas</a>
                <a href="galeria.html">Galeria</a>
                <a href="tabla.html">Tabla</a>
                <a href="formulario.html">Formulario</a>     
                <a href="http://www.google.com" target="_blank">Google</a>
                <a href="#texto">Ver texto</a>
            </nav>
        </header>
    </header>
 <!--Espacio para todo el contenido-->
<main>
    
<section>
    <h1>Galeria</h1>
<div>
    <img src="../static/img/descarga (1).jpg" alt="paisaje">
    <h3>Veni a conocer</h3>
    <p>descripcion: te esperamos 👀🎶</p><br>

    <a href="../static/img/descarga.jpg" target="_blank">Venir a conocer este paisaje</a> <br>
    <a href="../static/img/descarga.jpg" download="">descarga</a><br>
    <a href="../atajos.pdf" download="">descarga PDF</a><br>
    <a href="mailto:marueu12@hotmail.com">Enviar correo</a>

</div>

</section>

<section id="texto">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quod nulla enim itaque, debitis doloribus reprehenderit tenetur, dignissimos eius reiciendis iusto quibusdam eos facere, nihil aliquid dicta! Tempora, iusto reiciendis!
        Omnis, odio fugit? Ullam quaerat nulla illo veritatis, soluta pariatur sapiente veniam doloribus corrupti nesciunt vero neque fugit eum ipsa labore corporis aperiam minus, dolores repellendus nisi illum ex quae.
        Ex eos autem eius voluptatum quaerat atque consequatur minus ad nihil deserunt repudiandae, voluptate dolores voluptatibus rem qui ipsa! Fugiat, esse nemo voluptates unde ea possimus dolores corporis iusto inventore.
        Voluptas mollitia, alias minima autem, magnam, quis modi sequi rem adipisci neque ducimus voluptatem blanditiis suscipit dicta. Asperiores, corporis eveniet omnis nisi culpa, deserunt praesentium eos consequuntur ex, laboriosam ullam.
    </p>
</section>





</main>
 <!--Espacio para el pie de pagna-->
<footer>
<h3></h3>

</footer>


</body>
</html>