<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <!--Espacio para el encabezado-->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="formulario.html">Formulario</a>     
            <a href="http://www.google.com" target="_blank">Google</a>
        </nav>
    </header>
 <!--Espacio para todo el contenido-->
<main>
    <h1>Listas</h1>
    <section>
        <h1>Listas desordenadas</h1>
        <ul type="circle">
            <li>Argentina</li>
            <li>Chile</li>
            <li>Peru</li>
            <li>uruguay</li>
        </ul>
    </section>
    <section>
        <h1>Listas ordenadas</h1>
        <ol type="I" reversed >
            <li>Lunes</li>
            <li>Martes</li>
            <li>Miercoles</li>
            <li>Jueves</li>
        </ol>
    </section>
    
    <section>
        <h1>Listas dependientes</h1>
        <i><h3>alimentos</h3></i>
        <dl>
            <dt>leche</dt>
            <dd>en polvo</dd>
            <dd>descremada</dd>
            <dd>etc</dd>
        </dl>
    </section>
    <section>
        <h1>Listas dependientes</h1>
        <ol>
            <li>Lunes</li>
            <ul>
                <li>mañana</li>
                <ul>
                    <li type="circle">9am</li>
                </ul>
            </ul>
            <li>Martes</li>
            <li>Miercoles</li>
            <li>Jueves</li>
        </ol>
    </section>
    
</main>
 <!--Espacio para el pie de pagna-->
<footer>
<h3></h3>

</footer>


</body>
</html>