<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--palabras claves-->
    <meta name="keywords" content="HTML, multimedia,audio, video">

    <!--descipcion, breve resumen de que trata el contenido-->
    <meta name="description" content="incorpracion de audio, video">

    <link rel="shortcut icon" href="../img/codoAcodo.ico" type="image/x-icon">

    <title>Tabla</title>
</head>
<body>
    <!--Espacio para el encabezado-->
    <header>
        <header>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="listas.html">Listas</a>
                <a href="galeria.html">Galeria</a>
                <a href="tabla.html">Tabla</a>
                <a href="formulario.html">Formulario</a>     
                <a href="http://www.google.com" target="_blank">Google</a>
            </nav>
        </header>
        
    </header>
 <!--Espacio para todo el contenido-->
<main>
    <h2>Tabla</h2>

    <section>
        <h2 style="color: blueviolet;">Audio</h2>
        <div>
          <audio src="../asset/audio/typical-trap-loop-2b-130751.mp3" controls muted> </audio>
        </div>
        <div>
            <video src="../asset/video/mov_bbb.mp4" controls></video>
        </div>

    </section>
    <section>
        <h3>Mapa y Video</h3>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.1370769270743!2d-57.9799859234917!3d-34.90300937336731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e7a43944f8fb%3A0xc6c04488f0d374f3!2sC.%2012%20280%2C%20B1906EQF%20Tolosa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1712245311337!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1npuHskJ6p0?si=4bF6fkYgV_1IDaX2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>
    
    <section>
        <h4>Tabla basica</h4>
        <table border="1">
            <tr>
                <th>encabezado1</th>
                <th>encabezado2</th>
                <th>encabezado3</th>
            </tr>
            <tr>
                <td>Dato1</td>
                <td>Dato2</td>
                <td>Dato3</td>
            </tr>
        </table>
    </section>
    <section>
        <br>
        <table border="1">
            <tr>
                <th>Producto</th>
                <th>descripcion</th>
                <th colspan="2">Variantes</th>
            </tr>
            <tr>
                <td rowspan="2">Camiseta</td>
                <td rowspan="2">Camiseta algodon</td>
                <td>color</td>
                <td>Talle</td>
            </tr>
            <tr>
                <td>rojo</td>
                <td>s</td>
            </tr>
            <tr>
                <td rowspan="2">zapatos</td>
                <td rowspan="2">zapatos deportes</td>
                <td>color</td>
                <td>talla</td>
            </tr>
            
            <tr>
                <td >azul</td>
                <td >40</td>
            </tr>
            <tr></tr>

        </table>
    </section>
</main>
 <!--Espacio para el pie de pagna-->
<footer>
<h3></h3>

</footer>


</body>
</html>